header {
  background: #054D50;
  padding: 5px 0;
  overflow: hidden;
}

#logo {
  margin: 10px;
  border-radius: 5px;
}

header nav {
  float: right;
  margin-top: 35px;
  margin-right: 5px;
  height: 50px;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
header nav ul li a {
  color: #f9e42e;
}

.nav ul li a {
  color: white;
  background-color: #840a07;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.nav ul li a:hover {
  background-color: orange;
}

.donate{
  height: 400px;
  background-image: url("../images/donate.jpeg");
  margin: 0 auto;
  overflow: hidden;
}

.donation{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
  color: #840a07;
  text-shadow: 1px 1px #ffffff;
  }

.button{
  text-align: center
}

.action{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  color: #840a07;
}

footer {
  background: #840a07;
  padding: 25px 0 5px;
  text-align: center;
}
footer .logo {
  color: white;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 18px;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 40px;
}